# Environment files
aiven.env
aws.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
med_env/
venv/
.env

# Data files
*.csv
*.xlsx
*.h5
*.db

# Model files
*.pkl
*.joblib

# Reports and figures
reports/figures/

# OS files
.DS_Store
Thumbs.db
